html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("foto/Fundo Logins.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    transform: translateY(-50px);
    opacity: 0;
}

.logo {
    width: 550px;
    margin-bottom: 10px;
}

form {
    background: rgba(255, 255, 255, 0.65);
    padding: 60px 75px;
    border-radius: 35px;
    position: relative;
    bottom: 90px;
    width: 350px;
    height: 430px;
    text-align: center;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(6px);
}

form h2 {
    color: #000;
    font-size: 26px;
    margin-bottom: 28px;
    font-weight: 600;
}

form input {
    width: 100%;
    height: 18px;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    position: relative;
    right: 15px;
    border-radius: 12px;
    background: #fff;
    font-size: 15px;
    outline: none;
}

form input::placeholder {
    color: #888;
}

form button {
    width: 100%;
    padding: 14px;
    background-color: #e83181;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    margin-top: 15px;
}

form button:hover {
    background-color: #ff4d9a;
    transform: scale(1.03);
}

/* Botão Google */
.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(26, 26, 26);
    gap: 8px;
    width: 80%;
    padding: 8px;
    border-radius: 12px;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
    margin: 5px auto 0 auto;
}

.google-login img {
    width: 16px;
    height: 16px;
}

.google-login:hover {
    background: rgba(0,0,0,0.05);
    transform: scale(1.02);
}

/* Botão voltar */
.back-login {
    width: 80%;
    padding: 8px;
    background: transparent;
    color: #313131;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    margin: 10px auto 0 auto;
}

.back-login:hover {
    background: rgba(0,0,0,0.05);
    transform: scale(1.02);
}
